@inherits LayoutComponentBase

<NavMenu />

<br />
<br />
<br />
<br />
<br />

<div class="container">
    @Body</div>
<footer>Created by <a href="https://github.com/whaakman" target="blank" class="free"> Wesley Haakman </a> and <a
        href="https://github.com/amybosch" target="blank" class="free"> Amy Bosch </a></footer>
