@inherits LayoutComponentBase

<NavMenu />

<br />
<br />
<br />
<br />
<br />

<div class="container">
    @Body</div>
<br />
<br />
<h5>A big thank you to our sponsor!</h5>
<a href="https://intercept.cloud/en/"><img src="img/intercept.png" style="max-width: 50%; height: auto;"></a>
<br />
<br />
<br />
<br />
@* <footer>Created by <a href="https://github.com/whaakman" target="blank" class="free"> Wesley Haakman </a> and <a
        href="https://github.com/amybosch" target="blank" class="free"> Amy Bosch </a></footer>
 *@