@page "/"
@using FestiveTechHackathon.Data;


<center><h1>Festive Tech Calendar Hackathon</h1></center>
<center><img src="img/calendar.jpg"></center><br /><br />

@if (submitted == false)
{
    <EditForm Model="@signupModel" OnValidSubmit="@OnSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    Name: <InputText id="name" @bind-Value="signupModel.Name" /><br />
    Twitter: <InputText id="twitteraccount" @bind-Value="signupModel.TwitterAccount" /><br />
    Email: <InputText id="email" @bind-Value="signupModel.Email" /><br />
    Solution URI: <InputText id="solutionuri" @bind-Value="signupModel.SolutionUri" /><br />
    Description: <InputTextArea id="description" @bind-Value="signupModel.Description" /><br />

    <button type="submit" disabled=@isSubmitting>Submit</button>
    </EditForm>

    <br />
}
else
{
    <p>@submitMessage</p>
}


@code {
    private bool submitted = false;

    private string submitMessage;
    bool isSubmitting;
    private SignupModel signupModel = new SignupModel();
    private QueueManager queueManager = new QueueManager();


     async Task OnSubmit()
    {
        if (isSubmitting)
            return;

        isSubmitting = true;
        try
        {
            await Task.Delay(1000); // TODO do actual work here
            queueManager.InsertMessage(signupModel);
            submitMessage = "Thank you for submitting!";
        }
        finally
        {
            isSubmitting = false;
            submitted = true;
        }
    }


}