@page "/"
@using FestiveTechHackathon.Data;


<center>
    <h1>Festive Tech Calendar Hackathon</h1>
</center>
<center><img src="img/calendar.jpg"></center><br /><br />
<div class="container">
    <div class="center">
        <div class="window">
            <div class="santa">
                <div class="head">
                    <div class="face">
                        <div class="redhat">
                            <div class="whitepart"></div>
                            <div class="redpart"></div>
                            <div class="hatball"></div>
                        </div>
                        <div class="eyes"></div>
                        <div class="beard">
                            <div class="nouse"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                    <div class="ears"></div>
                </div>
                <div class="body"></div>
            </div>
        </div>
        </div>
        </div>