@page "/"
@using FestiveTechHackathon.Data;


<center><h1>Festive Tech Calendar Hackathon</h1></center>
<center><img src="img/calendar.jpg"></center>

<EditForm Model="@signupModel" OnValidSubmit="@HandleValidSubmit">

    <DataAnnotationsValidator />
    <ValidationSummary />

    Name: <InputText id="name" @bind-Value="signupModel.Name" /><br />
    Twitter: <InputText id="twitteraccount" @bind-Value="signupModel.TwitterAccount" /><br />
    Email: <InputText id="email" @bind-Value="signupModel.Email" /><br />
    Solution URI: <InputText id="solutionuri" @bind-Value="signupModel.SolutionUri" /><br />
    Description: <InputTextArea id="description" @bind-Value="signupModel.Description" /><br />

    <button type="submit">Submit</button>
    <br />
    <p>@submitMessage</p>
</EditForm>

@code {

    private string submitMessage;
    
    private SignupModel signupModel = new SignupModel();

    private QueueManager queueManager = new QueueManager();

    private void HandleValidSubmit()
    {
       queueManager.InsertMessage(signupModel);
       submitMessage = "Thank you for submitting!";

    }



}