@page "/"

<center>

    <h1> 🎄 Festive Tech Calendar Hackathon </h1>
    <br />
    <br />
    <h2>Welcome to the Azure Festive Tech Hackathon!</h2>
    <br />
    <center><iframe width="560" height="315" src="https://www.youtube.com/embed/G1BOVMmfDK4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></center>
    <p>This year we are hosting a hackathon and the awesome thing is that you can participate!
        The goal is to provide the opportunity to everyone to send in a submission no matter how much experience you
        have, all submissions are appreciated. For those reason I also limited the solution to two components: A Web App and some storage. You don't have to deal with databases and very basic knowledge of both these 
        components and the <a href="https://docs.microsoft.com/" class="red">Microsoft Docs</a>. It's about the automation for deployment and the scaling of that deployment, not about the technical complexity of the provided solution. 
        We are not looking for just the technical deployment, we are also looking for creativity, technologies used, the
        write up and most important: <strong>that you had fun doing it!</strong>
        You don't have to sign up before starting, all you have to do is share your solution once you're done through the <a href="/Participate" class="red">participation page</a>. To have some insights on how much submissions we can expect
        we do appreciate it if you send me a message through Twitter that you're participating (<a href="https://twitter.com/whaakman" target="blank" class="red">
            @@whaakman</a>).
    </p>
    <p>
        If you have any questions during the Hackathon or need help along the way.
        Feel free to contact me through Twitter <a href="https://twitter.com/whaakman" target="blank" class="red">
            @@whaakman</a>.</p>
    <p>
        I hear you thinking <em>“But what do I have to build”</em> ? Well long story short: You have to automate the
        deployment of the
        solution. The deployment has to follow the requirements that Santa has provided.
    </p>
    <h4>What does it take to participate? </h4>
    <p>Not much! You can get started right away. Read up on the use case below and submit your solution before <strong>
            December 17th </strong></p>
    <ol>
        <li>Solution is hosted in a GitHub repository</li>
        <li>Repository contains a README.MD with a write up of your solution or a link to a blog post containing the
            write
            up</li>
        <li>Solution can be recreated by the reviewers</li>
    </ol>
    <p>You can use any technology you want as long as it runs on Microsoft Azure. It doesn’t matter if your
        deployment
        is based on PowerShell, ARM Templates, Azure CLI, Terraform or Power Platform.
        You can use and combine any technology that you want. </p>
    <h4>Submissions </h4>
    <p>Submitting your solution can be done by navigating to the <em>“participate”</em> page and submit your solution.
        We ask you
        to
        share the following information:</p>
    <ul>
        <li>Name </li>
        <li>Email </li>
        <li>Twitter Account</li>
        <li>Address to your solution in GitHub</li>
    </ul>
    <br />
    <p>Upon submission your solution and write up will be reviewed and the winner will be announced before the end of
        the Azure Festive Tech Calendar. </p>

    <h4>Getting Started</h4>

    <p>Start by reading up on the <a href="/requirements" target="blank" class="red">use case and the requirements</a>.
        Then check out the <a href="/wishlist" target="blank" class="red">example app</a>.
        Once you are up to speed on the requirements and the app, get started deploying it to your Azure environment and
        start building <strong>something</strong> to automatically deploy the according to the requirements.</p>

    <br />
    <h4>Prize</h4>
    <p>This year we're throwing in a prize! Sponsored by <a href="https://intercept.cloud/en/" class="red">Intercept</a>. Many, many thanks! The best submission can choose between a <strong>Surface Headphone 2 or an XBOX Series S</strong>. All we ask you is that upon receiving your prize that you share a picture of you and your prize with us 😁
    As said before, we're not looking just for the best technical solution. We're looking for effort, creativity (what technologies did you use and how) and passion.</p>
    
    Having fun is what counts!
    <br />
    <br />

    <h2><strong>A big thank you to our sponsor!</strong></h2>
</center>
<div class="container">
    <div class="center">
        <a href="https://intercept.cloud/en/"><img src="img/intercept.png" style="max-width: 50%; height: auto;"></a>
    </div>
</div>
