@page "/"

<center>

    <h1> 🎄 Festive Tech Calendar Hackathon </h1>
    <br />
    <br />
    <h2>Welcome to the Azure Festive Tech Hackathon!</h2>
    <br />
    <p>This year we are hosting a hackathon and the awesome thing is that you can participate!
        The goal is to provide the opportunity to everyone to send in a submission no matter how much experience you
        have, all submissions are appreciated.
        We are not looking for just the technical deployment, we are also looking for creativity, technologies used, the
        write up and most important: <strong>that you had fun doing it!</strong>
    </p>
    <p>
        If you have any questions during the Hackathon or need help along the way.
        Feel free to contact me through twitter <strong><a href="https://twitter.com/whaakman" target="blank"
                class="free">
                @@whaakman </a></strong>.</p>
    <p>
        I hear you thinking <em>“But what do I have to build”</em> ? Well long story short: You have to automate the
        deployment of the
        solution. The deployment has to follow the requirements that Santa has provided.
    </p>
    <h4>What does it take to participate? </h4>
    <p>Not much! You can get started write away. Read up on the use case below and submit your solution before <strong>
            DATE TO BE ADDED </strong></p>
    <li>Solution is hosted in a GitHub repository</li>
    <li>Repository contains a README.MD with a write up of your solution or a link to a blog post containing the write
        up.</li>
    <li>Solution can be recreated by the reviewers</li>
    <p>You can use any technology you want as long as it runs on Microsoft Azure. It doesn’t matter if your deployment
        is based on ARM Templates, Azure CLI, Terraform or Power Platform.
        You can use and combine any technology that you want. </p>
    <h4>Submissions </h4>
    <p>Submitting your solution can be done by navigating to the <em>“participate”</em> page and submit your solution.
        We ask you
        to
        share the following information:</p>
    <li>Name </li>
    <li>Email </li>
    <li>Twitter Account</li>
    <li>Address to your solution in GitHub</li>
    <br />
    <p>Upon submission your solution and write up will be reviewed and the winner will be announced before the end of
        the Azure Festive Tech Calendar. </p>
    <h4>Use Case </h4>
    <p>Santa is going digital! Santa is looking to automate some things and instead of going through
        all the paperwork
        he decided that families can now send in their wish list digitally. Santa and his elves created a
        website for
        families to create their wishlist and send it to Santa. No more post stamps, no more lists being lost
        through
        mail and no more papercuts!! </p>
    <h5><em>But Santa needs your help.</em></h5>
    <h4>The Problem</h4>
    <p> The website needs to be published around the world. Even though they have written the code, they are not sure
        about the best way to deploy and scale this. During initial testing with Santa’s helpers around the
        world they
        quickly ran into performance challenges as well as compliance requirements.</P>
    <h4>The Solution</h4>
    <p>The magnificent code is hosted at <strong><a href="https://github.com/whaakman/festive-tech-santa-wishlist"
                target="blank" class="free">https://github.com/whaakman/festive-tech-santa-wishlist</a></strong> and
        consist
        of
        a
        Blazor <strong><em>(server)</em></strong> Web App. The Web App allows for the creation of a wish list and upon
        creation writes
        the wish
        list to blob storage <strong><em>(Azure Storage Account)</em></strong>. </p>
    <p>The application takes a connection string <em>(“connectionString”)</em> and a Blob container name
        <em>(“storageContainerName”)</em>. </p>
    <h4>The Requirements </h4>
    <p>This is where your help comes in! Santa and his elves have compiled a list of requirements.
        Santa is not looking
        to change the code of the application, therefor code changes are prohibited. </p>
    <h6><strong>Website hosting and scaling </strong></h6>
    <p>The solution needs to be deployed on Microsoft Azure. The Website needs to scale keep up with the growing number
        of children wanting to send in their wish list.</p>
    <h6><strong>Personalization</strong></h6>
    <p>For each country Santa would like to personalize the page. As he is not looking for code changes or
        implementing
        multi tenancy. </p>
    <h6><strong>Data compliance</strong></h6>
    <p>Data needs to be protected and preferably stored in the country that the children are living in.</p>
    <p>Remember, we’re not looking for code changes in the website itself. Santa is perfectly fine with deploying
        resources for each country as long as it doesn’t happen manually and turn into a repetitive point and click
        adventure in the Azure Portal. </p>
    <br />
    <h6>Prize</h6>
    <br />
    <h6>To Do</h6>
    <br />

    <p>

        <img src="img/santa.png" alt="Santa Claus">

    </p>


</center>
<div class="container">
    <div class="center">

    </div>
</div>
