@page "/"

<center>

    <h1> 🎄 Festive Tech Calendar Hackathon </h1>
    <br />
    <br />
    <h2>Welcome to the Azure Festive Tech Hackathon!</h2>
    <br />
    <p>VIDEO COMES HERE</p>
    <p>This year we are hosting a hackathon and the awesome thing is that you can participate!
        The goal is to provide the opportunity to everyone to send in a submission no matter how much experience you
        have, all submissions are appreciated.
        We are not looking for just the technical deployment, we are also looking for creativity, technologies used, the
        write up and most important: <strong>that you had fun doing it!</strong>
    </p>
    <p>
        If you have any questions during the Hackathon or need help along the way.
        Feel free to contact me through twitter <strong><a href="https://twitter.com/whaakman" target="blank"
                class="free">
                @@whaakman </a></strong>.</p>
    <p>
        I hear you thinking <em>“But what do I have to build”</em> ? Well long story short: You have to automate the
        deployment of the
        solution. The deployment has to follow the requirements that Santa has provided.
    </p>
    <h4>What does it take to participate? </h4>
    <p>Not much! You can get started right away. Read up on the use case below and submit your solution before <strong>
            DATE TO BE ADDED </strong></p>
    <ol>
        <li>Solution is hosted in a GitHub repository</li>
        <li>Repository contains a README.MD with a write up of your solution or a link to a blog post containing the
            write
            up</li>
        <li>Solution can be recreated by the reviewers</li>
    </ol>
    <p>You can use any technology you want as long as it runs on Microsoft Azure. It doesn’t matter if your
        deployment
        is based on ARM Templates, Azure CLI, Terraform or Power Platform.
        You can use and combine any technology that you want. </p>
    <h4>Submissions </h4>
    <p>Submitting your solution can be done by navigating to the <em>“participate”</em> page and submit your solution.
        We ask you
        to
        share the following information:</p>
    <ul>
        <li>Name </li>
        <li>Email </li>
        <li>Twitter Account</li>
        <li>Address to your solution in GitHub</li>
    </ul>
    <br />
    <p>Upon submission your solution and write up will be reviewed and the winner will be announced before the end of
        the Azure Festive Tech Calendar. </p>

    <h4>Getting Started</h4>

    <p>Start by reading up on the <a href="/requirements">use case and the requirements</a>. Then check out the <a
            href="/wishlist">example app</a>.
        Once you are up to speed on the requirements and the app, get started deploying it to your Azure environment and
        start building <strong>something</strong> to automatically deploy the according to the requirements.</p>

    <br />
    <h6>TODO: Add Prize</h6>
    <br />
    <br />

    <h2><strong>A big thank you to our sponsor!</strong></h2>
</center>
<div class="container">
    <div class="center">
        <a href="https://intercept.cloud/en/"><img src="img/intercept.png" style="max-width: 50%; height: auto;"></a>
    </div>
</div>
