@page "/participate"

@using WebAppHackathon.Data;

<center>
    <h1> 🎄 Festive Tech Calendar Hackathon</h1>
</center>
<br><br>
<div class="container">
    <div class="center">
        <div class="window">
            <div class="santa">
                <div class="head">
                    <div class="face">
                        <div class="redhat">
                            <div class="whitepart"></div>
                            <div class="redpart"></div>
                            <div class="hatball"></div>
                        </div>
                        <div class="eyes"></div>
                        <div class="beard">
                            <div class="nouse"></div>
                            <div class="mouth"></div>
                        </div>
                    </div>
                    <div class="ears"></div>
                </div>
                <div class="body"></div>
            </div>
        </div>
        <div class="message"></div>
        <br />
        <br />
        @if (submitted == false)
        {

            <EditForm Model="@signupModel" OnValidSubmit="@OnSubmit">

                <DataAnnotationsValidator />
                <ValidationSummary />

                <label>Name</label><br />
                <InputText id="name" @bind-Value="signupModel.Name" /><br />
                <label>Twitter</label><br />
                <InputText id="twitteraccount" @bind-Value="signupModel.TwitterAccount" /><br />
                <label>Email</label><br />
                <InputText id="email" @bind-Value="signupModel.Email" /><br />
                <label>Solution URI</label><br />
                <InputText id="solutionuri" @bind-Value="signupModel.SolutionUri" /><br />
                <label>Description</label><br />
                <InputTextArea id="description" @bind-Value="signupModel.Description" /><br />

                <button type="submit" disabled=@isSubmitting>Submit</button>
            </EditForm>

            <br />
        }
        else
        {
            <p>@submitMessage</p>
        }
    </div>
</div>

@code {
    private bool submitted = false;
    private bool isSubmitting;
    private string submitMessage;
    private SignupModel signupModel = new SignupModel();
    private QueueManager queueManager = new QueueManager();

    async Task OnSubmit()
    {
        if (isSubmitting)
            return;

        isSubmitting = true;
        try
        {
            await Task.Delay(1000); // TODO do actual work here
            queueManager.InsertMessage(signupModel);
            submitMessage = "Thank you for submitting!";
        }
        finally
        {
            isSubmitting = false;
            submitted = true;
        }
    }


}