@page "/reviewers"

<center>

    <h1> 🎄 Festive Tech Calendar Hackathon </h1>
    <br />
    <br />
    <h2>Your reviewers for this hackathon</h2>
    <br />
        <p>To review your wonderful submissions, Santa has found 3 wonderful helpers. A big thank you for your help. We really appreciate it! 
    </p>
        <div>
    <h4><a href="https://www.linkedin.com/in/riniehuijgen/" class="red">Rinie Huijgen</a></h4>
    <h6>CTO and Founder Intercept</h6>
     <img class="imagereviewers" src="img/rinie.jpg">

    <p>
    I’m the CTO and one of the founders of Intercept. I live in The Netherlands, 
    am married and have three small boys. Earlier this decade we witnessed an explosive growth in the 
    private cloud sector. The Microsoft public cloud was still in it infancy. 
    However after working with several cloud solutions, we decided that Microsoft’s vision of 
    freedom and flexibility to build, deploy and manage your applications anywhere was just amazing. 
    Building on top of world class technology stack and opening the doors for every vendor, 
    operating system and framework pushed Azure ahead of the pack, leading the way in cloud technology. 
    In my daily job I have the honor of working with highly skilled people, 
    of course my colleges at Intercept but also our very tech savvy software driven customers. 
    I’m learning something new every day, so go ahead and surprise me!
    </p>
    <br style="clear:both" />
    </div>
    <div>
    <h4><a href="https://twitter.com/ba4bes" class="red">Barbara Forbes</a></h4>
    <h6>IT Consultant | SCCT</h6>
    <img class="imagereviewers" src="img/barbara.jpg">
    <p>
    Barbara is a Microsoft Azure MVP, 
    MCT and consultant. 
    Her daily work includes Azure, Office 365, Windows Server and automation. 
    Her focus is on Azure automation, PowerShell, Infrastructure as Code and Azure DevOps. 
    Her blog is found at <a href="https://4bes.nl" class="red">https://4bes.nl</a>.
    </p>
    <br style="clear:both" />
    <br>
    </div>
    <div>
    <h4><a href="https://twitter.com/wmatthyssen" class="red">Wim Matthyssen</a></h4>
    <h6>Microsoft Azure MVP | MCT | Cloud Architect</h6>
    <img class="imagereviewers" src="img/wim.jpg">
    <p>Wim is a Cloud Architect, who has more than ten-years of experience with Microsoft Technologies. As a Microsoft Certified Trainer (MCT), his strength is to assist companies in the transformation of their business to the Cloud by implementing the latest features, services and solutions. Currently his main focus is on the Microsoft Hybrid Cloud Platform and especially on Microsoft Azure and the Azure hybrid services.
 
Wim is also a Microsoft MVP in the Azure category and a founding board member of the MC2MC user group.

As a passionate community member he regularly writes blogs and speaks about his daily experiences with Azure and other Microsoft technologies.</p>
<br style="clear:both" />
</div>
    <h2><strong>A big thank you to our sponsor!</strong></h2>
</center>
<div class="container">
    <div class="center">
        <a href="https://intercept.cloud/en/"><img src="img/intercept.png" style="max-width: 50%; height: auto;"></a>
    </div>
</div>
